

html {
  height: 100vh;
  background-image: url(./img/pexels-pixabay-459458.jpg);
  background-size: cover;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  margin: 0!important;
}

.wrapper {
  min-height: 100vh;
  margin-bottom: -50px;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  width: 60%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #f0ad4e;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #f0ad4e;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50vw;
  list-style: none;
  padding: 0px;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: rgb(187, 12, 12);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: green;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #f0ad4e;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 8rem;
}
/* Arrow */

/* Footer */

  .push {
    height: 50px;
  }

  footer{
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.7) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    margin: 0px!important;
  }

  footer a {
    height: 50px;  
  }

  svg {
    margin: 0px 10px;
  }

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  
  header{
    width: 100%; 
  }
  
  .select {
      margin: 10px auto;
    }
    
  form {
    min-height: 20vh;
    width: 100%;
    margin: 0px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
  }
        
  form input,
  form button {
    padding: 0.25rem;
    font-size: 1.25rem;
    border: none;
    background: white;
  }

  .filter-todo {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .todo {
    height: 35px;
    font-size: inherit;
    overflow: hidden;
  }

  .todo-list {
    width: 80vw;
  } 
}

@media (max-width: 1200px) {
  header{
    width: 100%; 
  }
  
  .select {
      margin: 10px auto;
    }
    
    form {
      min-height: 20vh;
      width: 100%;
      margin: 0px auto;
      display: grid;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
    }
    
    /* .todo-list {
      min-width: 100%;
    } */
  }
  
  
  